if TARGET_MX6UIB

config SYS_ARCH
        default "arm"

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "mx6uib"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6uib"



endif
